aiofiles==24.1.0 ; python_version >= "3.10" and python_version < "3.13"
aiohappyeyeballs==2.6.1 ; python_version >= "3.10" and python_version < "3.13"
aiohttp==3.12.13 ; python_version >= "3.10" and python_version < "3.13"
aiosignal==1.4.0 ; python_version >= "3.10" and python_version < "3.13"
aiosqlite==0.21.0 ; python_version >= "3.10" and python_version < "3.13"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.13"
anthropic==0.57.1 ; python_version >= "3.10" and python_version < "3.13"
anyio==4.9.0 ; python_version >= "3.10" and python_version < "3.13"
appdirs==1.4.4 ; python_version >= "3.10" and python_version < "3.13"
argcomplete==3.6.2 ; python_version >= "3.10" and python_version < "3.13"
asttokens==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
async-timeout==4.0.3 ; python_version == "3.10"
attrs==25.3.0 ; python_version >= "3.10" and python_version < "3.13"
babel==2.17.0 ; python_version >= "3.10" and python_version < "3.13"
backoff==2.2.1 ; python_version >= "3.10" and python_version < "3.13"
backrefs==5.9 ; python_version >= "3.10" and python_version < "3.13"
banks==2.1.3 ; python_version >= "3.10" and python_version < "3.13"
bcrypt==4.3.0 ; python_version >= "3.10" and python_version < "3.13"
beautifulsoup4==4.13.4 ; python_version >= "3.10" and python_version < "3.13"
blinker==1.9.0 ; python_version >= "3.10" and python_version < "3.13"
boto3==1.39.3 ; python_version >= "3.10" and python_version < "3.13"
botocore==1.39.3 ; python_version >= "3.10" and python_version < "3.13"
build==1.2.2.post1 ; python_version >= "3.10" and python_version < "3.13"
cachetools==5.5.2 ; python_version >= "3.10" and python_version < "3.13"
certifi==2025.6.15 ; python_version >= "3.10" and python_version < "3.13"
cffi==1.17.1 ; python_version >= "3.10" and python_version < "3.13"
charset-normalizer==3.4.2 ; python_version >= "3.10" and python_version < "3.13"
chromadb==1.0.15 ; python_version >= "3.10" and python_version < "3.13"
click==8.2.1 ; python_version >= "3.10" and python_version < "3.13"
cohere==5.15.0 ; python_version >= "3.10" and python_version < "3.13" and platform_system != "Emscripten"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13"
coloredlogs==15.0.1 ; python_version >= "3.10" and python_version < "3.13"
crewai==0.140.0 ; python_version >= "3.10" and python_version < "3.13"
cryptography==45.0.5 ; python_version >= "3.10" and python_version < "3.13"
dataclasses-json==0.6.7 ; python_version >= "3.10" and python_version < "3.13"
decorator==5.2.1 ; python_version >= "3.10" and python_version < "3.13"
deprecated==1.2.18 ; python_version >= "3.10" and python_version < "3.13"
dirtyjson==1.0.8 ; python_version >= "3.10" and python_version < "3.13"
distro==1.9.0 ; python_version >= "3.10" and python_version < "3.13"
docstring-parser==0.16 ; python_version >= "3.10" and python_version < "3.13"
durationpy==0.10 ; python_version >= "3.10" and python_version < "3.13"
et-xmlfile==2.0.0 ; python_version >= "3.10" and python_version < "3.13"
eval-type-backport==0.2.2 ; python_version >= "3.10" and python_version < "3.13"
exceptiongroup==1.3.0 ; python_version == "3.10"
executing==2.2.0 ; python_version >= "3.10" and python_version < "3.13"
fasta2a==0.3.6 ; python_version >= "3.10" and python_version < "3.13"
fastavro==1.11.1 ; python_version >= "3.10" and python_version < "3.13" and platform_system != "Emscripten"
filelock==3.18.0 ; python_version >= "3.10" and python_version < "3.13"
filetype==1.2.0 ; python_version >= "3.10" and python_version < "3.13"
flatbuffers==25.2.10 ; python_version >= "3.10" and python_version < "3.13"
frozenlist==1.7.0 ; python_version >= "3.10" and python_version < "3.13"
fsspec==2025.5.1 ; python_version >= "3.10" and python_version < "3.13"
ghp-import==2.1.0 ; python_version >= "3.10" and python_version < "3.13"
google-auth==2.40.3 ; python_version >= "3.10" and python_version < "3.13"
google-genai==1.20.0 ; python_version >= "3.10" and python_version < "3.13"
googleapis-common-protos==1.70.0 ; python_version >= "3.10" and python_version < "3.13"
greenlet==3.2.3 ; python_version >= "3.10" and python_version < "3.13" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
griffe==1.7.3 ; python_version >= "3.10" and python_version < "3.13"
groq==0.29.0 ; python_version >= "3.10" and python_version < "3.13"
grpcio==1.73.1 ; python_version >= "3.10" and python_version < "3.13"
h11==0.16.0 ; python_version >= "3.10" and python_version < "3.13"
h2==4.2.0 ; python_version >= "3.10" and python_version < "3.13"
hf-xet==1.1.5 ; python_version >= "3.10" and python_version < "3.13" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
hpack==4.1.0 ; python_version >= "3.10" and python_version < "3.13"
httpcore==1.0.9 ; python_version >= "3.10" and python_version < "3.13"
httptools==0.6.4 ; python_version >= "3.10" and python_version < "3.13"
httpx-sse==0.4.0 ; python_version >= "3.10" and python_version < "3.13"
httpx==0.28.1 ; python_version >= "3.10" and python_version < "3.13"
huggingface-hub==0.33.2 ; python_version >= "3.10" and python_version < "3.13"
humanfriendly==10.0 ; python_version >= "3.10" and python_version < "3.13"
hyperframe==6.1.0 ; python_version >= "3.10" and python_version < "3.13"
idna==3.10 ; python_version >= "3.10" and python_version < "3.13"
importlib-metadata==8.7.0 ; python_version >= "3.10" and python_version < "3.13"
importlib-resources==6.5.2 ; python_version >= "3.10" and python_version < "3.13"
instructor==1.8.3 ; python_version >= "3.10" and python_version < "3.13"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.11" and python_version < "3.13"
ipython==8.37.0 ; python_version == "3.10"
ipython==9.4.0 ; python_version >= "3.11" and python_version < "3.13"
jedi==0.19.2 ; python_version >= "3.10" and python_version < "3.13"
jinja2==3.1.6 ; python_version >= "3.10" and python_version < "3.13"
jiter==0.8.2 ; python_version >= "3.10" and python_version < "3.13"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "3.13"
joblib==1.5.1 ; python_version >= "3.10" and python_version < "3.13"
json-repair==0.25.2 ; python_version >= "3.10" and python_version < "3.13"
json5==0.12.0 ; python_version >= "3.10" and python_version < "3.13"
jsonpatch==1.33 ; python_version >= "3.10" and python_version < "3.13"
jsonpickle==4.1.1 ; python_version >= "3.10" and python_version < "3.13"
jsonpointer==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
jsonref==1.1.0 ; python_version >= "3.10" and python_version < "3.13"
jsonschema-specifications==2025.4.1 ; python_version >= "3.10" and python_version < "3.13"
jsonschema==4.24.0 ; python_version >= "3.10" and python_version < "3.13"
kubernetes==33.1.0 ; python_version >= "3.10" and python_version < "3.13"
langchain-core==0.3.68 ; python_version >= "3.10" and python_version < "3.13"
langchain-openai==0.3.27 ; python_version >= "3.10" and python_version < "3.13"
langchain-text-splitters==0.3.8 ; python_version >= "3.10" and python_version < "3.13"
langchain==0.3.26 ; python_version >= "3.10" and python_version < "3.13"
langgraph-checkpoint==2.1.0 ; python_version >= "3.10" and python_version < "3.13"
langgraph-prebuilt==0.5.2 ; python_version >= "3.10" and python_version < "3.13"
langgraph-sdk==0.1.72 ; python_version >= "3.10" and python_version < "3.13"
langgraph==0.5.1 ; python_version >= "3.10" and python_version < "3.13"
langsmith==0.4.4 ; python_version >= "3.10" and python_version < "3.13"
litellm==1.72.6 ; python_version >= "3.10" and python_version < "3.13"
llama-cloud-services==0.6.41 ; python_version >= "3.10" and python_version < "3.13"
llama-cloud==0.1.30 ; python_version >= "3.10" and python_version < "3.13"
llama-index-agent-openai==0.4.12 ; python_version >= "3.10" and python_version < "3.13"
llama-index-cli==0.4.4 ; python_version >= "3.10" and python_version < "3.13"
llama-index-core==0.12.47 ; python_version >= "3.10" and python_version < "3.13"
llama-index-embeddings-openai==0.3.1 ; python_version >= "3.10" and python_version < "3.13"
llama-index-indices-managed-llama-cloud==0.7.8 ; python_version >= "3.10" and python_version < "3.13"
llama-index-instrumentation==0.2.0 ; python_version >= "3.10" and python_version < "3.13"
llama-index-llms-openai==0.4.7 ; python_version >= "3.10" and python_version < "3.13"
llama-index-multi-modal-llms-openai==0.5.1 ; python_version >= "3.10" and python_version < "3.13"
llama-index-program-openai==0.3.2 ; python_version >= "3.10" and python_version < "3.13"
llama-index-question-gen-openai==0.3.1 ; python_version >= "3.10" and python_version < "3.13"
llama-index-readers-file==0.4.9 ; python_version >= "3.10" and python_version < "3.13"
llama-index-readers-llama-parse==0.4.0 ; python_version >= "3.10" and python_version < "3.13"
llama-index-workflows==1.0.1 ; python_version >= "3.10" and python_version < "3.13"
llama-index==0.12.47 ; python_version >= "3.10" and python_version < "3.13"
llama-parse==0.6.41 ; python_version >= "3.10" and python_version < "3.13"
logfire-api==3.22.0 ; python_version >= "3.10" and python_version < "3.13"
mariadb==1.1.13 ; python_version >= "3.10" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
markdown==3.8.2 ; python_version >= "3.10" and python_version < "3.13"
markupsafe==3.0.2 ; python_version >= "3.10" and python_version < "3.13"
marshmallow==3.26.1 ; python_version >= "3.10" and python_version < "3.13"
matplotlib-inline==0.1.7 ; python_version >= "3.10" and python_version < "3.13"
maturin==1.9.0 ; python_version >= "3.10" and python_version < "3.13"
mcp==1.10.1 ; python_version >= "3.10" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.13"
mergedeep==1.3.4 ; python_version >= "3.10" and python_version < "3.13"
mistralai==1.9.1 ; python_version >= "3.10" and python_version < "3.13"
mkdocs-get-deps==0.2.0 ; python_version >= "3.10" and python_version < "3.13"
mkdocs-material-extensions==1.3.1 ; python_version >= "3.10" and python_version < "3.13"
mkdocs-material==9.6.16 ; python_version >= "3.10" and python_version < "3.13"
mkdocs==1.6.1 ; python_version >= "3.10" and python_version < "3.13"
mmh3==5.1.0 ; python_version >= "3.10" and python_version < "3.13"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.13"
multidict==6.6.3 ; python_version >= "3.10" and python_version < "3.13"
mypy-extensions==1.1.0 ; python_version >= "3.10" and python_version < "3.13"
nest-asyncio==1.6.0 ; python_version >= "3.10" and python_version < "3.13"
networkx==3.4.2 ; python_version == "3.10"
networkx==3.5 ; python_version >= "3.11" and python_version < "3.13"
nltk==3.9.1 ; python_version >= "3.10" and python_version < "3.13"
numpy==2.2.6 ; python_version == "3.10"
numpy==2.3.1 ; python_version >= "3.11" and python_version < "3.13"
oauthlib==3.3.1 ; python_version >= "3.10" and python_version < "3.13"
onnxruntime==1.22.0 ; python_version >= "3.10" and python_version < "3.13"
openai==1.93.0 ; python_version >= "3.10" and python_version < "3.13"
openpyxl==3.1.5 ; python_version >= "3.10" and python_version < "3.13"
opentelemetry-api==1.34.1 ; python_version >= "3.10" and python_version < "3.13"
opentelemetry-exporter-otlp-proto-common==1.34.1 ; python_version >= "3.10" and python_version < "3.13"
opentelemetry-exporter-otlp-proto-grpc==1.34.1 ; python_version >= "3.10" and python_version < "3.13"
opentelemetry-exporter-otlp-proto-http==1.34.1 ; python_version >= "3.10" and python_version < "3.13"
opentelemetry-proto==1.34.1 ; python_version >= "3.10" and python_version < "3.13"
opentelemetry-sdk==1.34.1 ; python_version >= "3.10" and python_version < "3.13"
opentelemetry-semantic-conventions==0.55b1 ; python_version >= "3.10" and python_version < "3.13"
orjson==3.10.18 ; python_version >= "3.10" and python_version < "3.13"
ormsgpack==1.10.0 ; python_version >= "3.10" and python_version < "3.13"
overrides==7.7.0 ; python_version >= "3.10" and python_version < "3.13"
packaging==24.2 ; python_version >= "3.10" and python_version < "3.13"
paginate==0.5.7 ; python_version >= "3.10" and python_version < "3.13"
pandas==2.2.3 ; python_version >= "3.10" and python_version < "3.13"
parso==0.8.4 ; python_version >= "3.10" and python_version < "3.13"
pathspec==0.12.1 ; python_version >= "3.10" and python_version < "3.13"
pdfminer-six==20250506 ; python_version >= "3.10" and python_version < "3.13"
pdfplumber==0.11.7 ; python_version >= "3.10" and python_version < "3.13"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "3.13" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==11.3.0 ; python_version >= "3.10" and python_version < "3.13"
pinecone-plugin-assistant==1.7.0 ; python_version >= "3.10" and python_version < "3.13"
pinecone-plugin-interface==0.0.7 ; python_version >= "3.10" and python_version < "3.13"
pinecone==7.3.0 ; python_version >= "3.10" and python_version < "3.13"
platformdirs==4.3.8 ; python_version >= "3.10" and python_version < "3.13"
portalocker==2.10.1 ; python_version >= "3.10" and python_version < "3.13"
posthog==5.4.0 ; python_version >= "3.10" and python_version < "3.13"
prompt-toolkit==3.0.51 ; python_version >= "3.10" and python_version < "3.13"
propcache==0.3.2 ; python_version >= "3.10" and python_version < "3.13"
protobuf==5.29.5 ; python_version >= "3.10" and python_version < "3.13"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.13" and sys_platform != "win32" and sys_platform != "emscripten"
pure-eval==0.2.3 ; python_version >= "3.10" and python_version < "3.13"
pyasn1-modules==0.4.2 ; python_version >= "3.10" and python_version < "3.13"
pyasn1==0.6.1 ; python_version >= "3.10" and python_version < "3.13"
pybase64==1.4.1 ; python_version >= "3.10" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.10" and python_version < "3.13"
pydantic-ai-slim==0.3.6 ; python_version >= "3.10" and python_version < "3.13"
pydantic-ai==0.3.6 ; python_version >= "3.10" and python_version < "3.13"
pydantic-core==2.33.2 ; python_version >= "3.10" and python_version < "3.13"
pydantic-evals==0.3.6 ; python_version >= "3.10" and python_version < "3.13"
pydantic-graph==0.3.6 ; python_version >= "3.10" and python_version < "3.13"
pydantic-settings==2.10.1 ; python_version >= "3.10" and python_version < "3.13"
pydantic==2.11.7 ; python_version >= "3.10" and python_version < "3.13"
pygments==2.19.2 ; python_version >= "3.10" and python_version < "3.13"
pyjwt==2.10.1 ; python_version >= "3.10" and python_version < "3.13"
pymdown-extensions==10.16.1 ; python_version >= "3.10" and python_version < "3.13"
pypdf==5.7.0 ; python_version >= "3.10" and python_version < "3.13"
pypdfium2==4.30.1 ; python_version >= "3.10" and python_version < "3.13"
pypika==0.48.9 ; python_version >= "3.10" and python_version < "3.13"
pyproject-hooks==1.2.0 ; python_version >= "3.10" and python_version < "3.13"
pyreadline3==3.5.4 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "win32"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.13"
python-dotenv==1.1.1 ; python_version >= "3.10" and python_version < "3.13"
python-multipart==0.0.20 ; python_version >= "3.10" and python_version < "3.13"
pytz==2025.2 ; python_version >= "3.10" and python_version < "3.13"
pyvis==0.3.2 ; python_version >= "3.10" and python_version < "3.13"
pywin32==310 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Windows"
pyyaml-env-tag==1.1 ; python_version >= "3.10" and python_version < "3.13"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "3.13"
qdrant-client==1.14.3 ; python_version >= "3.10" and python_version < "3.13"
referencing==0.36.2 ; python_version >= "3.10" and python_version < "3.13"
regex==2024.11.6 ; python_version >= "3.10" and python_version < "3.13"
requests-oauthlib==2.0.0 ; python_version >= "3.10" and python_version < "3.13"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "3.13"
requests==2.32.4 ; python_version >= "3.10" and python_version < "3.13"
rich==13.9.4 ; python_version >= "3.10" and python_version < "3.13"
rpds-py==0.26.0 ; python_version >= "3.10" and python_version < "3.13"
rsa==4.9.1 ; python_version >= "3.10" and python_version < "3.13"
s3transfer==0.13.0 ; python_version >= "3.10" and python_version < "3.13"
setuptools==80.9.0 ; python_version >= "3.10" and python_version < "3.13"
shellingham==1.5.4 ; python_version >= "3.10" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.13"
soupsieve==2.7 ; python_version >= "3.10" and python_version < "3.13"
sqlalchemy==2.0.41 ; python_version >= "3.10" and python_version < "3.13"
sse-starlette==2.4.1 ; python_version >= "3.10" and python_version < "3.13"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "3.13"
starlette==0.47.1 ; python_version >= "3.10" and python_version < "3.13"
striprtf==0.0.26 ; python_version >= "3.10" and python_version < "3.13"
sympy==1.14.0 ; python_version >= "3.10" and python_version < "3.13"
tenacity==9.1.2 ; python_version >= "3.10" and python_version < "3.13"
tiktoken==0.9.0 ; python_version >= "3.10" and python_version < "3.13"
tokenizers==0.21.2 ; python_version >= "3.10" and python_version < "3.13"
tomli-w==1.2.0 ; python_version >= "3.10" and python_version < "3.13"
tomli==2.2.1 ; python_version >= "3.10" and python_version < "3.13"
tqdm==4.67.1 ; python_version >= "3.10" and python_version < "3.13"
traitlets==5.14.3 ; python_version >= "3.10" and python_version < "3.13"
typer==0.16.0 ; python_version >= "3.10" and python_version < "3.13"
types-requests==2.32.4.20250611 ; python_version >= "3.10" and python_version < "3.13" and platform_system != "Emscripten"
typing-extensions==4.14.1 ; python_version >= "3.10" and python_version < "3.13"
typing-inspect==0.9.0 ; python_version >= "3.10" and python_version < "3.13"
typing-inspection==0.4.1 ; python_version >= "3.10" and python_version < "3.13"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "3.13"
urllib3==2.5.0 ; python_version >= "3.10" and python_version < "3.13"
uv==0.7.19 ; python_version >= "3.10" and python_version < "3.13"
uvicorn==0.35.0 ; python_version >= "3.10" and python_version < "3.13"
uvloop==0.21.0 ; python_version >= "3.10" and python_version < "3.13" and platform_python_implementation != "PyPy" and sys_platform != "win32" and sys_platform != "cygwin"
watchdog==6.0.0 ; python_version >= "3.10" and python_version < "3.13"
watchfiles==1.1.0 ; python_version >= "3.10" and python_version < "3.13"
wcwidth==0.2.13 ; python_version >= "3.10" and python_version < "3.13"
websocket-client==1.8.0 ; python_version >= "3.10" and python_version < "3.13"
websockets==15.0.1 ; python_version >= "3.10" and python_version < "3.13"
wrapt==1.17.2 ; python_version >= "3.10" and python_version < "3.13"
xxhash==3.5.0 ; python_version >= "3.10" and python_version < "3.13"
yarl==1.20.1 ; python_version >= "3.10" and python_version < "3.13"
zipp==3.23.0 ; python_version >= "3.10" and python_version < "3.13"
zstandard==0.23.0 ; python_version >= "3.10" and python_version < "3.13"
